<div class="root">
  <div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-md-8 column">
        <form [formGroup]="identifyForm">
          <h2 class="text-center">Angular Reactive Form Validation</h2>
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              id="exampleInputName1"
            />
            <!-- <button class="btn btn-info my-1" type="button" (click)="setNameValue()">
              Set Name Value
            </button> -->
            <!-- <p>Value: {{ name.value }}</p> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPhone1" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              id="examplePhoneName1"
              formControlName="phone"
            />
          </div>
          <div class="mb-3">
            <label for="examplePhoneMessage1" class="form-label">Message</label>
            <textarea
              type="text"
              class="form-control"
              id="examplePhoneMessage1"
              formControlName="message"
            ></textarea>
          </div>
          <p>Status: {{ identifyForm.status }}</p>
          <button
            [disabled]="!identifyForm.valid"
            type="submit"
            class="btn btn-primary"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
