<div class="root">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 column">
        <form [formGroup]="identifyForm">
          <h2 class="text-center">Angular Reactive Form Validation</h2>
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              required
              id="exampleInputName1"
              autocomplete="off"
            />
            <small
              class="text-danger"
              *ngIf="
                identifyForm.get('name')?.invalid &&
                identifyForm.get('name')?.touched
              "
              >Name is required</small
            >
            <h5>Name Field</h5>
            <div class="validation-box d-flex">
              <ul>
                <li>Touched: {{ identifyForm.get("name")?.touched }}</li>
                <li>Untouched: {{ identifyForm.get("name")?.untouched }}</li>
              </ul>
              <ul>
                <li>Pristine: {{ identifyForm.get("name")?.pristine }}</li>
                <li>Dirty: {{ identifyForm.get("name")?.dirty }}</li>
              </ul>
              <ul>
                <li>Valid: {{ identifyForm.get("name")?.valid }}</li>
                <li>Invalid: {{ identifyForm.get("name")?.invalid }}</li>
              </ul>
            </div>
            <h5>Form Field</h5>
            <div class="validation-box d-flex">
              <ul>
                <li>Touched: {{ identifyForm.touched }}</li>
                <li>Untouched: {{ identifyForm.untouched }}</li>
              </ul>
              <ul>
                <li>Pristine: {{ identifyForm.pristine }}</li>
                <li>Dirty: {{ identifyForm.dirty }}</li>
              </ul>
              <ul>
                <li>Valid: {{ identifyForm.valid }}</li>
                <li>Invalid: {{ identifyForm.invalid }}</li>
              </ul>
            </div>
            <!-- <button class="btn btn-info my-1" type="button" (click)="setNameValue()">
              Set Name Value
            </button> -->
            <!-- <p>Value: {{ name.value }}</p> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="text"
              class="form-control"
              formControlName="email"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              autocomplete="off"
            />
            <small
              class="text-danger"
              *ngIf="
                identifyForm.get('email')?.invalid &&
                identifyForm.get('email')?.touched
              "
              >Email is required</small
            >
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPhone1" class="form-label">Phone</label>
            <input
              type="text"
              class="form-control"
              id="examplePhoneName1"
              formControlName="phone"
              autocomplete="off"
            />
            <small
              class="text-danger"
              *ngIf="
                identifyForm.get('phone')?.invalid &&
                identifyForm.get('phone')?.touched
              "
              >Phone is required</small
            >
          </div>
          <div class="mb-3">
            <label for="examplePhoneMessage1" class="form-label">Message</label>
            <textarea
              type="text"
              class="form-control"
              id="examplePhoneMessage1"
              formControlName="message"
              autocomplete="off"
            ></textarea>
            <small
              class="text-danger"
              *ngIf="
                identifyForm.get('message')?.invalid &&
                identifyForm.get('message')?.touched
              "
              >Message is required</small
            >
          </div>
          <div class="mb-3">
            <label for="examplePhoneMessage1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="examplePhoneMessage1"
              formControlName="password"
              autocomplete="off"
            />
            <small
              class="text-danger"
              *ngIf="
                identifyForm.get('password')?.invalid &&
                identifyForm.get('password')?.touched
              "
              >Password is required</small
            >
          </div>
          <div class="mb-3">
            <label for="examplePhoneMessage1" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="examplePhoneMessage1"
              formControlName="confirmPassword"
              autocomplete="off"
            />
            <small
              class="text-danger"
              *ngIf="
                identifyForm.get('confirmPassword')?.invalid &&
                identifyForm.get('confirmPassword')?.touched
              "
              >Confirm Password is required</small
            >
            <small
              class="text-danger"
              *ngIf="
                identifyForm.get('confirmPassword')?.valid &&
                identifyForm.hasError('notSame')
              "
              >Passwords must be equal</small
            >
          </div>
          <p>Status: {{ identifyForm.status }}</p>
          <button
            [disabled]="!identifyForm.valid"
            type="submit"
            class="btn btn-primary"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
